.formulaire_spip .liste-paiements li {
	float:left;
	margin-left:1em;
	list-style:none}
	
.formulaire_spip .liste-paiements li:first-child{	margin-left:0;}
	
.logos_atos input{float:left;margin-right:1em}

.liste-paiements input.submit{
	height:35px; 
	border:#bfbfbf 1px solid; 
	border-radius:3px; 
	background-color:#90e190;
	font-weight:bold}
	
.liste-paiements .formulaire_spip p {margin:0;}

.liste-paiements  .reponse_formulaire { 
	background-color: white;
	font-weight: 700;
	position: absolute;
	padding:1em;
}